header {
    text-align: center;

    img {
        width: 50%;
        margin: 20px 0 10px 0;
    }
}

.header_search {
    background-color: #eaeaea;
    padding: 15px;
    box-shadow: 0 2px 3px #bdbdbd inset;

    .fa-location-dot {
        color: #383838;
    }

    input {
        border: none;
        width: 50%;
        padding-left: 10px;
        background-color: #eaeaea;
        font-weight: 700;
        outline: none;

        &::placeholder {
            color: #383838;
            font-size: 15px;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }
    }
}


.header_presentation {
    background-color: #f6f6f6;
    padding: 40px 20px;

    h1 {
        font-size: 25px;
        font-weight: 800;
        line-height: 30px;
    }

    h2 {
        color: #646262;
        margin: 15px 0;
    }
}