.menu-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.menu {
    position: relative;
    padding: 30px 20px;
    border-radius: 25px 25px 0 0;
    background-color: $background-color;
    margin-top: -50px;

    &_title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 10px;

        h1 {
            font-family: $ff-titles;
            font-weight: 500;
        }
    }

    &_content {
        h1 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 16px;
            position: relative;
            margin: 25px 0 20px 0;

            &::before {
                content: '';
                position: absolute;
                bottom: -5px;
                width: 40px;
                height: 3px;
                background-color: $tertiary-color;
            }
        }

        h2 {
            font-weight: 700;
        }

        h3 {
            font-size: 14px;
        }



        &_tile {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            background-color: white;
            border-radius: 15px;
            padding: 10px 15px 10px 10px;
            cursor: pointer;
            margin: 15px 0;
            @include tile-shadow;


            &:hover .checkbox {
                animation: check-hide 1s forwards;
            }
    
            &:hover .fa-circle-check {
                animation: icon-hide 1s forwards;
                // icon-rotate 10s forwards;
            }
    
            .checkbox {
                display: flex;
                align-items: center;
                height: 100%;
                width: 45px;
                background-color: $tertiary-color;
                position: absolute;
                top: 0;
                right: -1px;
                border-radius: 0 15px 15px 0;
                padding: 0 15px;
                transform: scaleX(0);
                transform-origin: 100% 50%;
            }
    
            .fa-circle-check {
                position: absolute;
                color: black;
                top: 22px;
                right: 13px;
                transform: translate(29px);
                opacity: 0;
            }
    
            > :nth-child(2) {
                font-weight: 700;
                font-size: 14px;
            }
        }



        
    }

}


@keyframes check-hide {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes icon-hide {
    0% {
        transform: translateX(29px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0px);
    }
}

@keyframes icon-rotate {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}