@media (min-width: 769px) {

    //HOME MEDIA QUERIES
    header {
        img {
            width: 250px;
            margin: 30px 0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 25px;

            &_search {
                width: 30%;
                border-radius: 10px;
            }

            &_presentation {
                background-color: white;
            }
        }
    }



    .about {
        &_tile {
            flex-direction: row;

            &_content {
                margin: 20px 10px;
            }
        }
    }

    .restaurant_tile {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

        &_content {
            width: 20%;
        }
    }



    //MENUS MEDIA QUERIES

    .header-menu{
        position: relative;
    
        .fa-arrow-left{
            position: absolute;
            top: 40px;
            left: 20px;
            font-size: 20px;
        }
    }

    .menu {
        padding: 30px;
    }

    .menu_container {
        display: flex;
        justify-content: space-between;

        .menu_content {
            width: 30%;
        }
    }




    //FOOTER MEDIA QUERIES
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 200px;
            margin-bottom: 0;
        }

        a {
            display: flex;
            align-items: center;
        }
    }
}

@media (min-width: 1440px){
        body {
            max-width: 1440px;
            margin: auto;
        }
}