@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
body {
  font-family: "roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-weight: 700;
  font-size: 20px;
}

header {
  text-align: center;
}
header img {
  width: 150px;
  margin: 20px 0 10px 0;
}

.header_search {
  background-color: #eaeaea;
  padding: 15px;
  box-shadow: 0 2px 3px #bdbdbd inset;
  width: 100%;
}
.header_search .fa-location-dot {
  color: #383838;
}
.header_search form {
  display: flex;
  justify-content: center;
}
.header_search input {
  border: none;
  width: 120px;
  background-color: #eaeaea;
  font-weight: 700;
  outline: none;
  margin-left: 10px;
}
.header_search input::placeholder {
  color: #383838;
  font-size: 15px;
}
.header_search input::-webkit-search-cancel-button {
  display: none;
}

.header_presentation {
  background-color: #f6f6f6;
  padding: 40px 20px;
}
.header_presentation h1 {
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
}
.header_presentation h2 {
  color: #646262;
  margin: 15px 0;
  font-family: "roboto";
  font-weight: 400;
  font-size: 16px;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 40px 20px;
}
.restaurant_tile_content {
  background-color: #fff;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 0 2px 7px #cccccc;
  position: relative;
}
.restaurant_tile_content img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.restaurant_tile_content .new_content {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(152, 250, 250);
  color: #078c8c;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 500;
}
.restaurant_tile_content .fa-heart {
  position: absolute;
  right: 20px;
  bottom: 35px;
}
.restaurant_tile_content_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px 10px 10px;
}
.restaurant_tile_content_info h3 {
  font-weight: 800;
}
.restaurant_tile_content_info h4 {
  line-height: 30px;
}

.about {
  padding: 40px 20px;
}
.about_tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_tile h3 {
  font-weight: 600;
  font-size: 14px;
}
.about_tile_content {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.about_tile_content > :first-child {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  padding: 25px;
  margin-left: 10px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 10px #c3c3c3;
}
.about_tile_content > :first-child:hover .fa-solid {
  color: #9356DC;
}
.about_tile_content > :first-child .about_number {
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: #fff;
  font-size: 13px;
}
.about_tile_content > :first-child .fa-solid {
  margin: 0 25px 0 10px;
  color: rgb(104, 103, 103);
  font-size: 18px;
}
.about_tile_content > :first-child h2 {
  font-size: 14px;
  font-weight: 700;
}

footer {
  background-color: rgb(71, 71, 71);
  color: #fff;
  padding: 30px;
  font-size: 14px;
  line-height: 25px;
}
footer img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(101%) contrast(102%);
  width: 35%;
  margin-bottom: 10px;
}
footer a {
  display: block;
}
footer i {
  margin-right: 10px;
}

.loading-spinner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fading 1s forwards;
}
.loading-spinner .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  box-shadow: 1px 5px 2px #FF79DA;
}
.loading-spinner .loader::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-shadow: 1px 5px 2px #9356DC;
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fading {
  0% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}

.heart {
  font-size: 20px;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1a1a1a;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: transparent;
  background-size: 300%;
  cursor: pointer;
}

.heart:hover {
  animation: fill 0.6s forwards;
  -webkit-text-stroke-color: #ffffff;
  font-size: 21px;
  background-image: linear-gradient(to right, #ffffff, #ffffff, #FF79DA, #99E2D0);
}

@keyframes fill {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -70%;
  }
}
.header-menu {
  position: relative;
}
.header-menu .fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}

.menu-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  padding: 30px 20px;
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
  margin-top: -50px;
}
.menu_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 10px;
}
.menu_title h1 {
  font-family: "shrikhand";
  font-weight: 500;
  font-size: 22px;
}
.menu .menu_container .menu_content h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  margin: 25px 0 20px 0;
}
.menu .menu_container .menu_content h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menu .menu_container .menu_content h3 {
  font-weight: 700;
}
.menu .menu_container .menu_content h4 {
  font-size: 14px;
}
.menu .menu_container .menu_content_tile {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 15px 0;
  box-shadow: 0 2px 7px #cccccc;
  overflow: hidden;
  height: 70px;
}
.menu .menu_container .menu_content_tile > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.menu .menu_container .menu_content_tile > div:first-child h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu_container .menu_content_tile > div:first-child h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu_container .menu_content_tile:nth-child(2) {
  animation: menu-appear 2s 200ms;
}
.menu .menu_container .menu_content_tile:nth-child(3) {
  animation: menu-appear 2s 400ms;
}
.menu .menu_container .menu_content_tile:nth-child(4) {
  animation: menu-appear 2s 600ms;
}
.menu .menu_container .menu_content_tile:nth-child(5) {
  animation: menu-appear 2s 800ms;
}
.menu .menu_container .menu_content_tile .check-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  transform: translate(55px);
  transition: 800ms;
}
.menu .menu_container .menu_content_tile .check-container > div:first-child {
  margin: 0 20px 10px 0;
  font-weight: 700;
}
.menu .menu_container .menu_content_tile .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 55px;
  background-color: #99E2D0;
  padding: 0 15px;
}
.menu .menu_container .menu_content_tile .checkbox .fa-circle-check {
  color: white;
  font-size: 20px;
  transform: rotate(-360deg);
  transition: 1s;
}
.menu .menu_container .menu_content_tile:hover .check-container {
  transform: translateX(0);
}
.menu .menu_container .menu_content_tile:hover .fa-circle-check {
  transform: rotate(0deg);
}

@keyframes menu-appear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.btn-container {
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 25px;
  margin: 20px 0;
  color: white;
  box-shadow: 0 4px 7px #b4b3b3;
}
.btn:hover {
  background: #ff7edb;
  box-shadow: 0 4px 7px #9b9999;
}

@media (min-width: 769px) {
  header img {
    width: 250px;
    margin: 30px 0;
  }
  header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
  }
  header .header_search {
    width: 20%;
    border-radius: 10px;
    background-color: white;
    box-shadow: none;
    border: solid 1px #9356DC;
  }
  header .header_search input {
    background-color: white;
  }
  header .header_presentation {
    background-color: white;
  }
  .about_tile {
    flex-direction: row;
  }
  .about_tile_content {
    margin: 20px 10px;
  }
  .restaurant_tile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .restaurant_tile_content {
    width: 20%;
  }
  .header-menu {
    position: relative;
  }
  .header-menu .fa-arrow-left {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 20px;
  }
  .menu {
    padding: 30px;
  }
  .menu_container {
    display: flex;
    justify-content: space-between;
  }
  .menu_container .menu_content {
    width: 30%;
  }
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer img {
    width: 200px;
    margin-bottom: 0;
  }
  footer a {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
